{
    "parser": "babel-eslint",
    // "extends": ["airbnb"],
    "rules": {
  
      },

      "env": {
        "browser": true,
        "node": true
    },

    "globals": {
        "window": true,
        "document": true
      }
  }